article.post {
    h1, h2, h3, h4, h5 {
        text-align: center;
    }
    ul, ol {
        font-size: 1.2rem;
        max-width: 40rem;
        margin: 1rem auto 2rem auto;
    }
    figure {
        display: block;
        margin: 0 auto 1rem;
        img {
            width: 100%;
        }
    }
}
