.button {
	background-color: rgba(51,51,51,1);
	border-color: rgba(96,96,96,1);

	&:hover, &:active, &:focus {
		background-color: darken(rgba(51,51,51,1), 10%);
		border-color: darken(rgba(96,96,96,1), 10%);
	}
}


.darkblue-btn {
	background-color: #181648;
	
	&:hover, &:active, &:focus {
		background-color: darken(#181648, 10%);
	}
}

.twitter-btn {
	background-color: #55acee;

	&:hover, &:active, &:focus {
		background-color: darken(#55acee, 10%);
	}
}

.facebook-btn {
	background-color: #3b5998;

	&:hover, &:active, &:focus {
		background-color: darken(#3b5998, 10%);
	}

}