a.project {
    display: inline-block;
    width: 50%;
    float: left;
    border-bottom: none;
    transition: .2s ease;
    margin: 3rem 0;
    padding: 1rem;
    &:hover {
        box-shadow: none;
        .project-title {
            color: $red;
        }
    }
}

ul.article-tag-list {
    margin: 0;
    list-style: none;
    li.article-tag {
        display: inline;
        color: #fff;
        background: #afafaf;
        padding: 2px 6px;
        border-radius: 2px;
        font-size: .875rem;
    }
}

ul.tag-list {
    margin: 0;
    list-style: none;
    padding: 1rem;
    display: block;
    li.tag {
        display: inline;
        color: #444;
        color: #fff;
        background: #afafaf;
        padding: 2px 6px;
        border-radius: 2px;
    }
}

.project-title {
    min-height: 88px;
    color: #333;
    font-weight: 900;
}

.project-image {
    max-height: 250px;
    overflow: hidden;
    margin: 0 0 2rem 0;
}


.project-title {
    margin: 0;
    font-weight: 900;
    display: inline-block;
}

span.clickthrough {
    margin: 0 0 0 1rem;
}

span.check {
    color: #fff;
    font-size: 1rem;
}

article.content {
    margin: 3rem 0;
    img {
        width: 100%;
    }
}

@media only screen
  and (min-width: 320px)
  and (max-width: 480px) {
      a.project {
          width: 100%;
          display: block
      }
}
