html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after { 
	box-sizing: inherit;
}

body {
	font-family: "Source Code Pro", "Inconsolata", Menlo, monospaced;
	background: #333; 
	color: #fefefe;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: #fefefe;;
	border: 0;
	height: 2px;
	margin-bottom: 1.5em;
}

@import "lists";
@import "table";

img {
	height: auto; 
	max-width: 100%; 
}


a {
	color: #fefefe;

	&:hover {
		color: darken(#fefefe, 10%);
	}
	&:active {
		color: darken(#fefefe, 10%);
	}
	&:focus {
		color: darken(#fefefe, 10%);
	}
}