---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <section>
    <div class="container">
      <div class="content">
        <img src="/images/about/fullsizerender-5.jpg" alt="Peter Binkowski" title="Melody make me look so good" />

        <h2>About Peter</h2>
        <p>My name is Peter, I make websites, and I live in Chicago.</p>

        <p>I enjoy a well brewed cup of coffee, rainy days, and the oxford comma. When not behind a screen you I am reading a <a href="/reading">book</a>, making music on my drum kit, or spending quality time with my <a href="http://wanderingsnippets.com">wife</a>.</p>

        <p>You can take a look at my <a href="https://www.dropbox.com/s/240drl23ekbu9q9/resume.pdf?dl=0">resumé</a>.</p>

        <h2>About The Site</h2>

        <p>This site is about the hundredth revision of peterbinks.net. I've used half a dozen cms's, and put up a bunch of junk over the years.</p>

        <p>This iteration of the site is built on <a href="https://astro.build">Astro</a>. The Typefaces you see are <a href="https://typekit.com/fonts/fira-sans">Fira</a> and <a href="https://typekit.com/fonts/effra">Effra</a>.</p>
      </div>
    </div>
  </section>
</BaseLayout>
