---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
  <section id="main">
    <div class="container">
      <div class="seven columns intro">
        <h1><a href="/about">I'm Peter.</a></h1>
        <h1>I'm a Designer | Developer with an interest in Typography, Web Animations, and Donuts.</h1>
      </div>
      <div class="five columns currently">
        <h3>Currently I am:</h3>
        <ul>
          <li><h4>Working making internet things at <a href="http://neotericdesign.com">Neoteric</a>.</h4></li>
          <li><h4>Taking on a limited number of freelance clients, so <a href="mailto:peter@peterbinks.net">send me an email</a>, and lets work together.</h4></li>
          <li><h4>Working on putting together my wedding(!).</h4></li>
          <li><h4>Handling website things for the next governor of Illinois, <a href="http://pawar2018.com">Ameya Pawar</a>.</h4></li>
          <li><h4>Daydreaming about returning to Iceland.</h4></li>
        </ul>
        <small>updated 03/17/2017 @ chicago, il</small>
      </div>
    </div>
  </section>
</BaseLayout>
