p {
	font: 300 1em  "Source Code Pro", "Inconsolata", Menlo, monospaced;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Source Code Pro", "Inconsolata", Menlo, monospaced;
	font-weight: 700;
	color: #fff;
}

.box-header {
	font-weight: 700;
	font-size: 1em;
	padding: .5em;
	border-top: 3px solid #eee;
	border-bottom: 3px solid #aaa;
	text-transform: uppercase;
	text-align: center;
}

.page-heading {
	padding: 1em 0px;
	text-transform: uppercase;
	border-bottom: 3px solid #eee;
	text-align: center;
	margin: 0px 0px 2em;
}
